<%= simple_form_for(@blog) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :titulo %>
    <%= f.input :subtitulo %>
    <%= f.input :texto %>
    <%= f.input :tags %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
