<%- model_class = Nerd -%>
<div class="page-header">
  <h1><%=t '.title', :default => Nerd %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:nome) %></th>
      <th><%= model_class.human_attribute_name(:sobrenome) %></th>
      <th><%= model_class.human_attribute_name(:rg) %></th>
      <th><%= model_class.human_attribute_name(:cpf) %></th>
      <th><%= model_class.human_attribute_name(:nascimento) %></th>
      <th><%= model_class.human_attribute_name(:endereco) %></th>
      <th><%= model_class.human_attribute_name(:numero) %></th>
      <th><%= model_class.human_attribute_name(:bairro) %></th>
      <th><%= model_class.human_attribute_name(:cidade) %></th>
      <th><%= model_class.human_attribute_name(:estado) %></th>
      <th><%= model_class.human_attribute_name(:cep) %></th>
      <th><%= model_class.human_attribute_name(:distancia) %></th>
      <th><%= model_class.human_attribute_name(:especialidade1) %></th>
      <th><%= model_class.human_attribute_name(:especialidade2) %></th>
      <th><%= model_class.human_attribute_name(:especialidade3) %></th>
      <th><%= model_class.human_attribute_name(:especialidade4) %></th>
      <th><%= model_class.human_attribute_name(:especialidade5) %></th>
      <th><%= model_class.human_attribute_name(:descricao) %></th>
      <th><%= model_class.human_attribute_name(:taxa) %></th>
      <th><%= model_class.human_attribute_name(:problema1) %></th>
      <th><%= model_class.human_attribute_name(:problema2) %></th>
      <th><%= model_class.human_attribute_name(:problema3) %></th>
      <th><%= model_class.human_attribute_name(:problema4) %></th>
      <th><%= model_class.human_attribute_name(:problema5) %></th>
      <th><%= model_class.human_attribute_name(:problema6) %></th>
      <th><%= model_class.human_attribute_name(:problema7) %></th>
      <th><%= model_class.human_attribute_name(:problema8) %></th>
      <th><%= model_class.human_attribute_name(:problema9) %></th>
      <th><%= model_class.human_attribute_name(:problema10) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @nerds.each do |nerd| %>
      <tr>
        <td><%= nerd.id %></td>
        <td><%= nerd.nome %></td>
        <td><%= nerd.sobrenome %></td>
        <td><%= nerd.rg %></td>
        <td><%= nerd.cpf %></td>
        <td><%= nerd.nascimento %></td>
        <td><%= nerd.endereco %></td>
        <td><%= nerd.numero %></td>
        <td><%= nerd.bairro %></td>
        <td><%= nerd.cidade %></td>
        <td><%= nerd.estado %></td>
        <td><%= nerd.cep %></td>
        <td><%= nerd.distancia %></td>
        <td><%= nerd.especialidade1 %></td>
        <td><%= nerd.especialidade2 %></td>
        <td><%= nerd.especialidade3 %></td>
        <td><%= nerd.especialidade4 %></td>
        <td><%= nerd.especialidade5 %></td>
        <td><%= nerd.descricao %></td>
        <td><%= nerd.taxa %></td>
        <td><%= nerd.problema1 %></td>
        <td><%= nerd.problema2 %></td>
        <td><%= nerd.problema3 %></td>
        <td><%= nerd.problema4 %></td>
        <td><%= nerd.problema5 %></td>
        <td><%= nerd.problema6 %></td>
        <td><%= nerd.problema7 %></td>
        <td><%= nerd.problema8 %></td>
        <td><%= nerd.problema9 %></td>
        <td><%= nerd.problema10 %></td>
        <td><%= nerd.status %></td>
        <td><%=l nerd.created_at, format: :long %></td>
        <td>
          <%= link_to nerd_path(nerd), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to nerd_path(nerd), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_nerd_path,
            :class => 'btn btn-primary' %>
