<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @nerd.nome %>
</p>

<p>
  <strong>Sobrenome:</strong>
  <%= @nerd.sobrenome %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @nerd.rg %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @nerd.cpf %>
</p>

<p>
  <strong>Nascimento:</strong>
  <%= @nerd.nascimento %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @nerd.endereco %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @nerd.numero %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @nerd.bairro %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @nerd.cidade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @nerd.estado %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @nerd.cep %>
</p>

<p>
  <strong>Distancia:</strong>
  <%= @nerd.distancia %>
</p>

<p>
  <strong>Especialidade1:</strong>
  <%= @nerd.especialidade1 %>
</p>

<p>
  <strong>Especialidade2:</strong>
  <%= @nerd.especialidade2 %>
</p>

<p>
  <strong>Especialidade3:</strong>
  <%= @nerd.especialidade3 %>
</p>

<p>
  <strong>Especialidade4:</strong>
  <%= @nerd.especialidade4 %>
</p>

<p>
  <strong>Especialidade5:</strong>
  <%= @nerd.especialidade5 %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @nerd.descricao %>
</p>

<p>
  <strong>Taxa:</strong>
  <%= @nerd.taxa %>
</p>

<p>
  <strong>Problema1:</strong>
  <%= @nerd.problema1 %>
</p>

<p>
  <strong>Problema2:</strong>
  <%= @nerd.problema2 %>
</p>

<p>
  <strong>Problema3:</strong>
  <%= @nerd.problema3 %>
</p>

<p>
  <strong>Problema4:</strong>
  <%= @nerd.problema4 %>
</p>

<p>
  <strong>Problema5:</strong>
  <%= @nerd.problema5 %>
</p>

<p>
  <strong>Problema6:</strong>
  <%= @nerd.problema6 %>
</p>

<p>
  <strong>Problema7:</strong>
  <%= @nerd.problema7 %>
</p>

<p>
  <strong>Problema8:</strong>
  <%= @nerd.problema8 %>
</p>

<p>
  <strong>Problema9:</strong>
  <%= @nerd.problema9 %>
</p>

<p>
  <strong>Problema10:</strong>
  <%= @nerd.problema10 %>
</p>

<p>
  <strong>Status:</strong>
  <%= @nerd.status %>
</p>

<%= link_to 'Edit', edit_nerd_path(@nerd) %> |
<%= link_to 'Back', nerds_path %>
